.termos {
    padding-top: 80px;
    padding-bottom: 80px;
}

.termos h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

.termos p {
    margin-bottom: 10px;
    max-width: 75ch;
}

.termos p + h2 {
    margin-top: 40px;
}